<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jnsoft.instatagg">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.jnsoft.instatagg.di.InstaTagg"
        android:allowBackup="true"
        android:icon="@drawable/cameralogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaTagg">
        <activity
            android:name="com.jnsoft.instatagg.presentation.activities.FullscreenPhotoActivity"
            android:exported="false" />
        <activity android:name="com.jnsoft.instatagg.presentation.activities.PhotosActivity" />
        <activity android:name="com.jnsoft.instatagg.presentation.activities.TaggsActivity" />
        <activity
            android:name="com.jnsoft.instatagg.presentation.activities.MainActivity"
            tools:ignore="MissingClass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jnsoft.instatagg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>